.right-grid {
    width: 400px;
    height: 80%;
    margin-top: 75px;
}

.homepage {
    margin-left: 130px;
}

.homepage img {
    height: 600px;
    margin-left: 50px;
}


.instagram img {
    width: 200px;
    margin-top: 41px;
    margin-left: 80px;
    height: 80px;
    filter: brightness(0%);
}


.form input::placeholder {
    font-size: 12px;
    color: grey;
}

.facebook-login .login {
    margin-left: 120px;
    margin-top: 20px;
    font-size: 13px;
    color: #385185;
}

.password {
    margin-left: 140px;
    font-size: 12px;
}


.account {
    font-size: 14px;
}



.swing img {
    display: block;
}

@media only screen and (max-width: 600px) {
    .homepage {
        margin-left: 5px;
        margin-right: 100px;
    }

    .home-image {
        margin-right: 90px;
    }

    .right-grid {
        margin-top: 5px;
        margin-left: 30px;
    }
}

div p{
    cursor: pointer;
}